@using ScrumBoard.Models
@using ScrumBoard.Shared.Widgets
@using ScrumBoard.Utils
@inherits BaseProjectScopedComponent

<tr>
    <td>
        <span>@Metric.GetName()</span>
    </td>
    @foreach (var weeklyTimeDisplay in _displayByWeek)
    {
        <td>
            <span id="@Metric-week-@weeklyTimeDisplay.WeekStart.GetIsoWeek()">@weeklyTimeDisplay.TimeForWeek</span>

            @if (weeklyTimeDisplay.TimeBySprint.Any())
            {
                <span class="m-1 marking-summary-tooltip">
                    <BasicHtmlTooltip IsWiderTooltip="true">
                        <span>Week @weeklyTimeDisplay.WeekStart.GetIsoWeek() spanned multiple sprints.</span>
                        @if (Metric != MarkingTableMetric.AvgLogDuration)
                        {
                            foreach (var sprintDisplay in weeklyTimeDisplay.TimeBySprint)
                            {
                                <br/>
                                <span>@sprintDisplay.Key: <strong>@sprintDisplay.Value</strong></span>
                            }
                        }
                    </BasicHtmlTooltip>
                </span>
            }
        </td>
    }

    <td>
        @if (ShowTotal)
        {
            <span id="@Metric-total">
                <strong>@_displayForTotal</strong>
            </span>
        }
    </td>
</tr>